

h1{
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Quicksand' !important;
    font-weight: bold;
}
.banner-img
{
    background-image: url('../assets/Background-image.webp');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 32em;
    filter: blur(2px);
}
.banner-text
{
    
border-radius: 2em;
    
position: absolute;
    
top: 50%;
    
left: 50%;
    
transform: translate(-50%,-81%);
    
z-index: 5;
    
width: 45%;
    
padding: 40px 0;
    
text-align: center;
    
background-color: rgba(0, 0,0, 0.3);
    
color: #fff;
    
font-weight: bold;
    
border: 1px inset #fff;
}
.banner-text p{
    padding: 0 8%;
    /* font-family: merienda; */

}

